<%= form_for @search do |f| %>
  <p>
    <%= f.label :keywords %>
    <%= f.text_field :keywords %>
  </p>

  <p>
    <%= f.label :min_price, "Price Range" %><br />
    <%= f.text_field :min_price, size: 10 %>
    <%= f.text_field :max_price, size: 10 %>
  </p>
  
  <p>
    <%= f.submit "Search" %>
  </p>
<% end %>