// $linkColor: #009361;
// $linkColorHover: darken($linkColor, 20%);
// $loginSignupColor: Khaki;
// $baseFontFamily: 'Noto Sans', sans-serif;
// $sansFontFamily: 'Noto Sans', sans-serif;

// Custom button styles for social sharing sites
// Twitter button
// $twitterBlue: #4099FF;
// .btn-twitter {
//   @extend .btn-success;
//   background: $twitterBlue !important;
// }
// .btn-twitter:hover {
//   background-color: darken($twitterBlue, 6%) !important;
// }
// //Tumblr button
// $tumblrBlue: #2f4b66;
// .btn-tumblr {
//   @extend .btn-success;
//   background: $tumblrBlue !important;
// }
// .btn-tumblr:hover {
//   background-color: darken($tumblrBlue, 6%) !important;
// }
// Pinterest button
// $pinterestRed: #C92228;
// .btn-pinterest {
//   @extend .btn-primary; // I changed the btn-primary style to a vivid red above
//   // text-color: $pinterestRed !important;
//   // background: lighten($pinterestRed, 10%) !important;
// }
// .btn-pinterest:hover {
//   background-color: $linkColor !important;
// }
// .btn-email {
//   @extend .btn;
//   background-color: #ccc;
// }
// .btn-buyit {
//   @extend .btn-success;
//   // background-color: 
// }
// .btn-lockit {
//   @extend .btn-inverse;
// }

// Bootswatch theme variables
// @import "bootswatch/journal/variables";

// Bootstrap itself
// @import "bootstrap";
// @import "bootstrap-responsive";

// Bootswatch theme
// @import "bootswatch/journal/bootswatch";

// Font-awesome scalable icons (loaded from font-awesome CDN)
// @import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

// Google Fonts fontset I downloaded
// @import url(http://fonts.googleapis.com/css?family=Noto+Sans);

// body {
//   color: #000000;
//   -webkit-font-smoothing: antialiased;
//   background-image: url(/assets/light_grey.png);
//   margin-top: 30px;
// }

// a {
//   color: $linkColor;
//   -o-transition: .3s;
//   -ms-transition: .3s;
//   -moz-transition: .3s;
//   -webkit-transition: .3s;
//   transition: .3s;
//   border-bottom: 0px;
// }

// a:hover { 
//   color: $linkColorHover;
//   border-bottom: 0px;
// }
// .navbar {
//   margin-bottom: 10px;
// }
// .navbar-inner {
//   height: 5px;
// }
// .navbar.navbar-inverse {
//   margin-top: 0px;
// }
// .navbar a.brand {
//   margin-left: 5px;
// }
// .navbar .container {
//    width: auto; 
//    min-width: 767px;
// }
// ul .dropdwon-menu li a {
//   font-size: 2em;
// }
// .navbar input[type="text"] {
//   height: 28px;
//   font-size: 1em;
//   margin-top: -5px;
// }
// .navbar input[type="submit"] {
//   margin-right: 6px;
//   margin-top: -15px;
//   width: 125px;
//   height: 40px;
//   font-size: 1.3em;
// }
// .navbar .social-buttons {
//   width: 300px;
// }
// .navbar .btn .btn-tumblr {
//   margin-right: 6px;
//   margin-top: -11px;
//   width: 125px;
//   height: 40px;
//   font-size: 1.3em;
// }
// .navbar ul.nav.pull-right {
//   margin-top: -30px;
// }
// .navbar .btn {
//   margin-top: -60px;
// }
// .navbar .dropdown-menu {
//   margin-right: 10px;
//   width: 230px;
//   padding-left: 30px;
// }
// .navbar .dropdown-menu li a {
//   font-size: 1.5em;
// }
// .navbar .user-dropdown {
//   margin-top: -50px;
//   margin-right: 69px;
// }
// .navbar #new_search {
//   width: 590px;
//   margin-left: 200px;
//   margin-top: 15px;
// }
// .messages {
//   margin-left: auto;
//   margin-right: auto;
//   width: 80%;
// }
// #login-signup {
//   margin-left: auto;
//   margin-right: auto;
//   width: 680px;
//   padding: 15px 0;
//   padding-left: 20px;
//   margin-top: 10px;
//   background-color: lighten($loginSignupColor, 10%);
//   border: 2px solid #dadada;
//   border-radius: 7px;
//   outline: none;
//   border-color: darken($loginSignupColor, 0%);
//   box-shadow: 0 0 20px darken($loginSignupColor, 5%);
// }
// .tagline {
//   font-weight: bold;
//   text-align: left;
//   font-size: 1.2em;
// }
// .call-to-action {
//   text-align: left;
// }
.sexy_line{ 
    display:block;
    border:none;
    color:white;
    height:1px;
    margin: 1.5em 0;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#333), to(#efefef));
}

// #footer {
//   margin-left: auto;
//   margin-right: auto;
//   width: 768px;
// }
// #footer p {
//   padding: 0px 35px;
// }
