<div class="container">
  <div class="col-xs-12 col-md-12">
    <h1 class="text-center">Amazon Best Sellers</h1>

    <div class="well" style="height: 400px;">
      <div id="myCarousel" class="carousel slide">
        
        <!-- Carousel items -->
        <div class="carousel-inner">
          <% active_row = "active" %>
          <% @products.each_slice(4) do |batch| %>
            <% unless batch.size < 4 %>
              <div class="item <%= active_row %>">
                <% active_row = "" if active_row == "active" %>
                <div class="row">
                  <% batch.each do |p| %>
                    <div class="col-xs-3 col-sm-3">
                      <a href="<%= product_path(p) %>">
                        <img src="<%= p.image_url %>" alt="<%= p.name %>", title="<%= p.name %>" class="img-responsive img-fade">
                      </a>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>

      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>

    </div><!--/well-->
  </div>
</div>