<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
</div>

<%#= render 'products/image_carousel' %>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-4 col-sm-4 col-md-3">
      <!-- <strong><%#= product.name %></strong> -->
      <p class="text-center"><%= link_to(product) do %>
        <% cache product do %>
          <%= image_tag(product.image_url, :class => 'img-fade img-responsive', :alt => "#{product.name}", height: 150) %>
          <% end %>
          <!-- <p><%= number_to_currency(product.price) %></p> -->
        <% end %>
      </p>
      <p></p>
    </div><!--/span-->
  <% end %>
</div><!--/row-->

</div><!--/span