<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)).html_safe %></title>
  <meta name="description" content="<%= meta_description(yield(:description)).html_safe %>">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/ga_production' if Rails.env.production? %>
  <%= render 'layouts/asset_includes' %>
</head>

<body>
<%= render 'layouts/navbar' %>

  <div class="container">

    <%= render 'layouts/messages' %>
    <%= render 'products/image_carousel' if @products %>

    <div class="row row-offcanvas row-offcanvas-right">
      <div class="col-xs-12 col-md-12">
        <div class="row">
          <%= yield %>
        </div><!--/row-->
      </div><!--/span-->
    </div><!--/row-->

  </div><!-- /container -->

  <%= render 'layouts/footer' %>
</body>
</html>
